* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 0;
}

.about {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.hero-image {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

